

<template>
  <div style="width:100%">
    <v-card class="grey lighten-3" max-width="350" style="border: none">
      <v-system-bar window dark>
        <div v-if="control.type == 'texto'" class="overline white--text font-weight-bold">
          <v-icon color="white" left>mdi-text</v-icon>TEXTO
        </div>
        <div v-if="control.type == 'campotexto'" class="overline white--text font-weight-bold">
          <v-icon color="white" left>mdi-textbox</v-icon>CAMPO DE TEXTO
        </div>
        <div v-if="control.type == 'button'" class="overline white--text font-weight-bold">
          <v-icon color="white" left>mdi-gesture-tap-button</v-icon>BOTON
        </div>
        <div v-if="control.type == 'select'" class="overline white--text font-weight-bold">
          <v-icon color="white" left>mdi-menu-down</v-icon>DESPLEGABLE
        </div>
        <div v-if="control.type == 'comentario'" class="overline white--text font-weight-bold">
          <v-icon color="white" left>mdi-comment-text</v-icon>COMENTARIO
        </div>
        <v-spacer></v-spacer>
        <v-btn x-small lite min-width="20" max-width="20" class="black mr-2">
          <v-icon @click="emitClose()" class="ma-0 white--text" small>mdi-minus</v-icon>
        </v-btn>
        <!-- <v-icon>mdi-checkbox-blank-outline</v-icon> -->
        <v-btn x-small lite min-width="20" max-width="20" class="error">
          <v-icon
            @click="control.delete = !control.delete; emitClose()"
            class="ma-0 white--text"
            small
          >mdi-delete</v-icon>
        </v-btn>
      </v-system-bar>

      <v-card-text v-if="control.type == 'imagen' ">
        <v-layout wrap>
          <v-flex md12 class="mb-3"></v-flex>
        </v-layout>
      </v-card-text>
      <v-card-text style="max-height: 450px;
    overflow-y: scroll;" v-if="control.type == 'button' ">
        <v-layout wrap>
          <v-flex md12 class="mb-3">
            <span class="font-weight-bold">Label</span>
            <v-text-field counter="150" v-model="control.propiedades.label" solo outlined dense flat></v-text-field>
          </v-flex>
          <v-flex md12 class="mb-3">
            <span class="font-weight-bold">Color</span>
            <!-- <swatches colors="text-advanced" flat inline v-model="control.propiedades.color" /> -->
            <v-color-picker
              flat
              mode="hexa"
              dot-size="10"
              hide-inputs
              style="margin: auto;"
              v-model="control.propiedades.color"
            ></v-color-picker>
          </v-flex>

          <v-flex v-if="control.theme == 'vue'" md12 class="mb-3">
            <v-checkbox
              class="mt-1"
              inset
              hide-details
              color="primary"
              v-model="control.propiedades.rounded"
            >
              <template v-slot:label>
                <div class="font-weight-bold">Redondeado</div>
              </template>
            </v-checkbox>
            <v-checkbox
              class="mt-1"
              inset
              hide-details
              color="primary"
              v-model="control.propiedades.outlined"
            >
              <template v-slot:label>
                <div class="font-weight-bold">Outlined</div>
              </template>
            </v-checkbox>
          </v-flex>
          <v-flex md12 class="mb-3">
            <span class="font-weight-bold">Acción</span>
            <v-select
              v-model="control.propiedades.accion"
              dense
              flat
              solo
              outlined
              :items="itemAcciones"
              item-text="nombre"
              item-value="id"
            ></v-select>
          </v-flex>
        </v-layout>
      </v-card-text>
      <v-card-text style="max-height: 450px;
    overflow-y: scroll;" v-if="control.type == 'campotexto' || control.type == 'select'">
        <v-layout wrap>
          <v-flex md12 class="mb-3">
            <span class="font-weight-bold">Label</span>
            <v-text-field v-model="control.propiedades.label" counter="150" solo outlined dense flat></v-text-field>
          </v-flex>
          <v-flex md12 class="mb-3">
            <span class="font-weight-bold">Placeholder</span>
            <v-text-field
              v-model="control.propiedades.placeholder"
              counter="150"
              solo
              outlined
              dense
              flat
            ></v-text-field>
          </v-flex>
          <v-flex md12 class="mb-3">
            <span class="font-weight-bold">Color</span>
            <!-- <swatches colors="text-advanced" flat inline v-model="control.propiedades.color" /> -->
            <v-color-picker
              flat
              mode="hexa"
              dot-size="10"
              hide-inputs
              style="margin: auto;"
              v-model="control.propiedades.color"
            ></v-color-picker>
          </v-flex>
          <!-- SOLO CUANDO ES SELECT -->
          <v-flex v-if="control.type == 'select'" md12 class="mb-3">
            <v-divider></v-divider>
          </v-flex>
          <v-flex v-if="control.type == 'select'" md12 class="mb-3 text-right">
            <v-btn @click="addItemSelect" small color="primary">
              <v-icon left small>mdi-plus</v-icon>AGREGAR ITEM
            </v-btn>
          </v-flex>
          <v-flex
            class="pl-5 mb-2 pr-5"
            md12
            v-for="(item, index) in control.propiedades.items"
            :key="index"
          >
            <v-text-field
              counter="150"
              solo
              dense
              outlined
              flat
              v-model="item.valor"
              append-outer-icon="mdi-close-circle"
              @click:append-outer="deleteItemSelect(index)"
            ></v-text-field>
          </v-flex>
          <!-- SOLO CUANDO ES SELECT -->

          <v-flex v-if="control.theme == 'vue'" md12 class="mb-3">
            <v-checkbox
              class="mt-1"
              inset
              hide-details
              color="primary"
              v-model="control.propiedades.rounded"
            >
              <template v-slot:label>
                <div class="font-weight-bold">Redondeado</div>
              </template>
            </v-checkbox>
          </v-flex>
        </v-layout>
      </v-card-text>
      <v-card-text style="max-height: 450px;
    overflow-y: scroll;" v-if="control.type == 'texto' || control.type == 'comentario'">
        <v-layout wrap>
          <v-flex v-if="control.type == 'texto'" md12 class="mb-3">
            <span class="font-weight-bold">Label</span>
            <v-text-field v-model="control.propiedades.label" counter="150" solo outlined dense flat></v-text-field>
          </v-flex>
          <v-flex v-if="control.type == 'comentario'" md12 class="mb-3">
            <span class="font-weight-bold">Comentario</span>
            <v-textarea v-model="control.propiedades.label" counter="150" solo outlined dense flat></v-textarea>
          </v-flex>
          <v-flex md12 class="mb-3">
            <span class="font-weight-bold">Formato</span>
            <v-row class="ma-0" justify="space-between">
              <v-btn-toggle dense v-model="control.propiedades.formatText" multiple>
                <v-btn min-width="40" value="font-italic" color="white">
                  <v-icon>mdi-format-italic</v-icon>
                </v-btn>

                <v-btn min-width="40" value="font-weight-bold" color="white">
                  <v-icon>mdi-format-bold</v-icon>
                </v-btn>

                <v-btn min-width="40" disabled value="font-weight-light" color="white">
                  <v-icon>mdi-format-underline</v-icon>
                </v-btn>
              </v-btn-toggle>

              <v-btn-toggle dense v-model="control.propiedades.formatTextAlign">
                <v-btn min-width="40" value="text-left" color="white">
                  <v-icon>mdi-format-align-left</v-icon>
                </v-btn>
                <v-btn min-width="40" value="text-center" color="white">
                  <v-icon>mdi-format-align-center</v-icon>
                </v-btn>

                <v-btn min-width="40" value="text-right" color="white">
                  <v-icon>mdi-format-align-right</v-icon>
                </v-btn>
              </v-btn-toggle>
            </v-row>
          </v-flex>
          <v-flex md12 class="mb-3">
            <span class="font-weight-bold">Color</span>
            <!-- <swatches colors="text-advanced" flat inline v-model="control.propiedades.color" /> -->
            <v-color-picker
              flat
              mode="hexa"
              dot-size="10"
              hide-inputs
              style="margin: auto;"
              v-model="control.propiedades.color"
            ></v-color-picker>
          </v-flex>
          <v-flex md12>
            <span class="font-weight-bold">Tamaño del texto</span>
            <v-slider
              :min="10"
              v-model="control.propiedades.fontSize"
              hide-details
              thumb-label="always"
            ></v-slider>
          </v-flex>
        </v-layout>
      </v-card-text>
      <!-- <v-card-actions> -->
      <!-- {{control}} -->
      <!-- <v-btn small color="primary" class="font-weight-bold">
          <v-icon left>mdi-check</v-icon>Guardar
      </v-btn>-->
      <!-- </v-card-actions> -->
    </v-card>
  </div>
</template>

<script>
import funcionesValidar from "./mixin/funcionesValidar";

// import SimpleImageInput from 'v-simple-image-input';

//  import "vue-swatches/dist/vue-swatches.min.css"

// Import the styles too, globally
export default {
  mixins: [funcionesValidar],

  props: ["control", "selectedOpen"],
  components: {
    // SimpleImageInput
  },

  data() {
    return {
      itemAcciones: [
        {
          id: 1,
          nombre: "Siguiente hoja"
        },
        {
          id: 2,
          nombre: "Hoja anterior"
        }
      ]
    };
  },
  watch: {
    control: {
      immediate: true,
      handler: function(after, before) {
        // Changes detected. Do work...
        console.log(this.control);
      },
      deep: true
    }
  },
  methods: {
    addItemSelect() {
      this.control.propiedades.items.push({
        valor: "Valor " + (this.control.propiedades.items.length + 1)
      });
    },
    deleteItemSelect(key) {
      this.control.propiedades.items.splice(key, 1);
    },
    emitClose() {
      this.$emit("closeMenu");
    }
  }
};
</script>