

<template>
  <v-content>
    <v-container style="margin-bottom: 100px" fluid>
      <v-layout justify-center>
        <v-flex xs12 sm12 md10>
          <v-btn class="text-capitalize" color="#393939" @click="regresarHome" text>
            <v-icon left>mdi-chevron-left-circle-outline</v-icon>Regresar
          </v-btn>

          <v-toolbar class="mt-3 mb-3 no-padding" flat color="#fafafa">
            <h1 class="display-1 mt-5 font-weight-bold">Crear Nuevo</h1>
            <v-spacer></v-spacer>
            <v-spacer></v-spacer>

            <v-btn
              href="/crearnuevo"
              data-v-step="8"
              text
              class="font-weight-bold mr-2 text-capitalize"
              color="primary"
            >
              <v-icon left class="font-weight-bold">mdi-reload</v-icon>Reiniciar
            </v-btn>
            <v-btn
              :depressed="false"
              data-v-step="7"
              @click="crearHoja"
              outlined
              class="font-weight-bold ml-2 text-capitalize"
              color="primary"
            >
              <v-icon left class="font-weight-bold">mdi-plus</v-icon>Nuevo Tema
            </v-btn>
            <v-divider inset vertical class="mr-2 ml-2"></v-divider>
            <v-btn
              data-v-step="9"
              class="font-weight-bold text-capitalize"
              min-width="250"
              color="primary"
              @click="enviarForm"
            >
              <span>Guardar</span>
            </v-btn>
          </v-toolbar>Crea tu simulador
          <br />a la medida de tus necesidades.
        </v-flex>
      </v-layout>
      <v-divider style="border: 1px dashed #1b506f" class="mt-5"></v-divider>
      <v-layout style="    overflow-x: auto; padding-bottom: 10px;" justify-center>
        <!-- <v-flex xs12 sm12 md10> -->
          <v-card color="#fafafa" flat style="min-width: 1251px"> 
            <v-card-title class="text-center justify-center pt-5">
              <h1 class="font-weight-bold headline">
                <span style="position: relative">
                  {{ titulotablero }}
                  <v-menu :close-on-content-click="false" offset-y>
                    <template v-slot:activator="{ on }">
                      <v-btn
                        v-on="on"
                        data-v-step="1"
                        class="text-capitalize primary"
                        style="top: -15px;right: -15px; position:absolute;"
                        icon
                        x-small
                      >
                        <v-icon x-small color="white">mdi-pencil</v-icon>
                      </v-btn>
                    </template>
                    <v-list dense class="pb-0">
                      <v-list-item>
                        <v-list-item-title>
                          <v-flex>
                            <span class="font-weight-bold">Título</span>
                            <v-text-field
                              flat
                              solo
                              dense
                              outlined
                              class="mb-2"
                              counter="150"
                              v-model="titulotablero"
                              label="Título"
                              single-line
                              autofocus
                            ></v-text-field>
                          </v-flex>
                        </v-list-item-title>
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </span>
              </h1>
            </v-card-title>
            <v-card-title class="pa-0">
              <v-spacer></v-spacer>

              <v-btn
                data-v-step="6"
                small
                tile
                class="font-weight-bold ml-2 text-capitalize"
                color="primary"
                @click="vistaPrevia"
              >
                <v-icon small left class="font-weight-bold">mdi-eye</v-icon>Vista previa
              </v-btn>
            </v-card-title>
            <v-tabs
              next-icon="mdi-arrow-right-bold-box-outline"
              prev-icon="mdi-arrow-left-bold-box-outline"
              v-model="tab"
              background-color="primary"
              centered
            >
              <v-tab
                class="font-weight-bold grey--text"
                active-class="tabActivo"
                v-for="(n, index) in itemtemas"
                :key="index"
              >
                {{ n.nombrehoja }}
                <v-menu :close-on-content-click="false" offset-y>
                  <template v-slot:activator="{ on }">
                    <v-btn
                      v-on="on"
                      data-v-step="2"
                      class="text-capitalize grey darken-4"
                      style="top: 0px;right: 0px; position:absolute;     border-radius: 0px;"
                      icon
                      x-small
                    >
                      <v-icon x-small color="white">mdi-pencil</v-icon>
                    </v-btn>
                  </template>
                  <v-list dense class="pb-0">
                    <v-list-item>
                      <v-list-item-title>
                        <v-flex>
                          <span class="font-weight-bold">Título</span>
                          <v-text-field
                            counter="150"
                            flat
                            solo
                            dense
                            outlined
                            class="mb-2"
                            v-model="n.nombrehoja"
                            label="Título"
                            single-line
                            autofocus
                          ></v-text-field>
                        </v-flex>
                      </v-list-item-title>
                    </v-list-item>
                    <v-divider></v-divider>
                    <v-list-item v-if="itemtemas.length > 1">
                      <v-list-item-title>
                        <v-btn @click="eliminarTema(index)" block x-small color="error">
                          <v-icon small left>mdi-delete</v-icon>Eliminar Tema
                        </v-btn>
                      </v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </v-tab>
            </v-tabs>

            <v-tabs color="primary" v-model="tab" vertical>
              <v-tab-item v-for="(n, index) in itemtemas" :key="index">
                <v-card style="border: 1px dashed #ccc" min-height="600" flat>
                  <div ref="divcontenedor" style="min-height:600px; width: 1251px">
                    <v-btn
                      data-v-step="3"
                      class="primary"
                      style="top: 29px; right: -39px; position:absolute"
                      icon
                      small
                      @click.native="onFocus('inputFile_'+index)"
                    >
                      <v-icon small color="white">mdi-upload</v-icon>
                    </v-btn>
                    <!-- <v-btn
                      
                      class="error"
                      style="top: 59px; right: -36px;"
                      absolute
                      icon
                      small
                      @click.native="onFocus('inputFile_'+index)"
                    >
                      <v-icon x-small color="white">mdi-delete</v-icon>
                    </v-btn>-->
                    <input
                      :ref="'inputFile_'+index"
                      style="display: none"
                      type="file"
                      @change="(event) => onFileChange(index, event)"
                      accept="image/*"
                    />

                    <template v-for="(control, indexControl) in n.controlForm">
                      <vue-draggable-resizable
                    
                        v-if="!control.delete"
                        :minHeight="control.minHeight"
                        :minWidth="control.minWidth"
                        :draggable="!control.lock ? true : false"
                        :w="control.widthPx"
                        :h="control.heightPx"
                        :x="control.x"
                        :y="control.y"
                        :resizable="!control.lock ? true : false"
                        :parent="true"
                        :key="indexControl"
                        :style="{  width:control.width +'%'}"
                        @resizing="(x, y, width, height) => onResize(indexControl, index, x, y, width, height)"
                        @dragging="(x, y, width, height) => onDrag(indexControl, index, x, y)"
                      >
                        <!-- :w="control.widthPx" -->

                        <!-- :style="{  width:control.width +'%', height: control.heightPx +'px', left: control.x+'%', top: control.y+'%' }" -->

                        <v-btn
                          v-if="control.type != 'imagen'"
                          class="grey darken-3"
                          style="top: -20px; right: -36px; position:absolute"
                          icon
                          x-small
                          @click="(MouseEvent) => mostrarEdicion(control, MouseEvent)"
                        >
                          <v-icon x-small color="white">mdi-pencil</v-icon>
                        </v-btn>
                        <!-- <v-btn
                          class="error"
                          style="top: 4px; right: -36px;"
                          absolute
                          icon
                          x-small
                          @click="deleteItem(indexControl, index)"
                        >
                          <v-icon x-small color="white">mdi-delete</v-icon>
                        </v-btn>-->
                        <v-btn
                          data-v-step="4"
                          style="top: 4px; right: -36px; position:absolute"
                          icon
                          x-small
                          @click="lockItem(indexControl, index)"
                        >
                          <v-icon x-small>{{ control.lock ? 'mdi-lock' : 'mdi-lock-open-variant' }}</v-icon>
                        </v-btn>
                        <v-flex v-if="control.type == 'select'">
                          <span
                            :style="{color: control.propiedades.color}"
                            class="font-weight-bold text-capitalize"
                          >{{control.propiedades.label}}</span>
                          <v-select
                            v-if="control.theme == 'vue'"
                            hide-details
                            :placeholder="control.propiedades.placeholder"
                            :rounded="control.propiedades.rounded"
                            :items="control.propiedades.items"
                            disabled
                            dense
                            outlined
                            solo
                            :height="control.heightPx - 32"
                          ></v-select>
                          <select
                            disabled
                            :style="'height: '+ (control.heightPx - 32) + 'px;'+'background-color: white'"
                            v-else
                            :placeholder="control.propiedades.placeholder"
                            class="input-nativo"
                          >
                            <option
                              v-for="(item, index) in control.propiedades.items"
                              :key="index"
                              :value="item.valor"
                            >{{item.valor}}</option>
                          </select>
                        </v-flex>

                        <v-flex disabled v-if="control.type == 'campotexto'">
                          <span
                            :style="{color: control.propiedades.color}"
                            class="font-weight-bold text-capitalize"
                          >{{control.propiedades.label}}</span>
                          <v-text-field
                            v-if="control.theme == 'vue'"
                            hide-details
                            class="font-weight-bold text-capitalize"
                            dense
                            :placeholder="control.propiedades.placeholder"
                            :rounded="control.propiedades.rounded"
                            disabled
                            outlined
                            solo
                            :height="control.heightPx - 32"
                          ></v-text-field>
                          <input type="text"
                            disabled
                            :style="'height: '+ (control.heightPx - 32) + 'px;'+'background-color: white;'+'resize: none;'"
                            :placeholder="control.propiedades.placeholder"
                            class="input-nativo"
                            v-else
                          />
                        </v-flex>
                        <v-flex disabled v-if="control.type == 'button'">
                          <v-btn
                            class="font-weight-bold text-capitalize"
                            dark
                            block
                            :rounded="control.propiedades.rounded"
                            :outlined="control.propiedades.outlined"
                            v-if="control.theme == 'vue'"
                            :color="control.propiedades.color"
                            :height="control.heightPx - 3"
                          >{{control.propiedades.label}}</v-btn>
                          <button
                            :style="'height: '+ (control.heightPx - 3) + 'px;'+'background-color: '+ (control.propiedades.color)+';'+'color: white;'"
                            class="input-nativo"                            
                            v-else
                            type="button"
                          >{{control.propiedades.label}}</button>
                        </v-flex>

                        <v-sheet
                          class="d-flex grey lighten-2 justify-center align-center"
                          v-if="control.type == 'imagen'"
                          :height="control.heightPx -3"
                          disabled
                          outlined
                        >
                          <img
                            width="100%"
                            :height="control.heightPx - 3"
                            :ref="'bgimg'+index"
                            :src="n.imagen"
                            v-if="n.imagen"
                          />
                          <p v-else class="text-center">
                            <v-icon size="50">mdi-image</v-icon>
                            <br />No hay imagen adjunta...
                          </p>
                        </v-sheet>
                        <p
                          disabled
                          :class="procesarClaseTexto(control.propiedades)"
                          :style="'font-size:' + control.propiedades.fontSize + 'px;' +  'color:' + control.propiedades.color"
                          v-if="control.type == 'texto'"
                          :height="control.heightPx - 3"
                        >{{control.propiedades.label}}</p>

                        <v-btn
                          small
                          icon
                          class="primary font-weight-bold"
                          dark
                          v-if="control.type == 'comentario'"
                          disabled
                          outlined
                        >
                          <v-icon small>mdi-help</v-icon>
                        </v-btn>
                        <!-- <p>X: {{ control.x }} / Y: {{ control.y }} - Width: {{ control.width }} / Height: {{ control.height }}</p> -->
                      </vue-draggable-resizable>
                    </template>
                  </div>
                </v-card>
              </v-tab-item>
            </v-tabs>
          </v-card>
        <!-- </v-flex> -->
        <v-menu
          class="menu-config"
          v-model="selectedOpen"
          :close-on-content-click="false"
          :activator="selectedElement"
          offset-x
        >
          <control-config @closeMenu="selectedOpen = false" :control="selectedControl"></control-config>
        </v-menu>
      </v-layout>
    </v-container>
    <v-dialog
      persistent
      v-model="dialogPreview"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <preview-data
        @closeDialog="dialogPreview = false"
        :token="previewData"
        :titulo="titulotablero"
        :hojas="itemtemas"
      ></preview-data>
    </v-dialog>
    <v-snackbar v-model="snack" :timeout="3000" :color="snackColor">
      {{ snackText }}
      <v-btn text @click="snack = false">Close</v-btn>
    </v-snackbar>
    <v-footer v-if="itemtemas.length > 0" fixed>
      <v-container fluid fill-height>
        <v-layout row justify-center>
          <v-tooltip v-model="showHelp" left>
            <template v-slot:activator="{ on }">
              <v-btn v-on="on" @click="starTour" absolute dark fab top right color="error">
                <v-icon>mdi-lifebuoy</v-icon>
              </v-btn>
            </template>
            <span>¿Mostrar Ayuda?</span>
          </v-tooltip>

          <div v-if="itemtemas[tab]" data-v-step="5" class="pt-2 pb-2">
            <span v-for="(boton , index) in btnAdd" :key="index">
              <v-menu
                v-if=" boton.value == 'campotexto'  || boton.value == 'button' || boton.value == 'select' "
                top
                offset-y
              >
                <template v-slot:activator="{ on }">
                  <v-btn
                    :disabled="!itemtemas[tab].imagen"
                    min-width="170"
                    v-on="on"
                    class="error mx-2 font-weight-bold text-capitalize"
                  >
                    <v-icon left>{{boton.icon}}</v-icon>
                    {{boton.texto}}
                  </v-btn>
                </template>
                <v-list dense>
                  <v-list-item @click="addControl(boton.value, 'vue')">
                    <v-list-item-icon>
                      <v-icon>mdi-vuetify</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                      <v-list-item-title>Opción 1</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item @click="addControl(boton.value, 'nativo')">
                    <v-list-item-icon>
                      <v-icon>mdi-language-html5</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                      <v-list-item-title>Opción 2</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-menu>
              <v-btn
                v-else
                :disabled="!itemtemas[tab].imagen"
                min-width="170"
                class="error mx-2 font-weight-bold text-capitalize"
                @click="addControl(boton.value)"
              >
                <v-icon left>{{boton.icon}}</v-icon>
                {{boton.texto}}
              </v-btn>
            </span>
          </div>
        </v-layout>
      </v-container>
    </v-footer>

    <v-overlay fixed opacity="1" color="white" :value="loaderComponent">
      <v-card flat min-width="250" color="transparent">
        <v-card-title
          style="display: block;"
          class="display-2 primary--text text-center font-weight-bold"
        >{{textTitleLoader}}</v-card-title>
        <v-card-subtitle class="headline black--text text-center">{{textSubTitleLoader}}</v-card-subtitle>
        <v-card-text class="text-center mt-3">
          <v-progress-circular color="primary" indeterminate size="64"></v-progress-circular>
        </v-card-text>
      </v-card>
    </v-overlay>
    <v-overlay fixed opacity="1" color="white" :value="loaderRegresar">
      <v-card flat min-width="250" color="transparent">
        <v-card-title
          style="display: block;"
          class="display-2 primary--text text-center font-weight-bold"
        >{{textTitleRegresar}}</v-card-title>
        <v-card-subtitle class="headline black--text text-center">{{textSubTitleRegresar}}</v-card-subtitle>
        <v-card-text class="text-center mt-3">
          <v-btn to="/home" outlined color="primary">Ir al menú principal</v-btn>
          <v-btn @click="loaderRegresar = !loaderRegresar" class="primary">Continuar trabajando</v-btn>
        </v-card-text>
      </v-card>
    </v-overlay>

    <v-tour name="myTour" :options="myOptions" :steps="steps"></v-tour>

    <v-snackbar right top color="error" v-model="snackbarErrors">
      <v-alert class="pa-0 mb-0" color="error" dark icon="mdi-alert-octagram" prominent>
        <p class="mx-1 my-1" v-for="(item, i) in snackbarTextErrors" :key="i">—&nbsp;{{item}}</p>
      </v-alert>
    </v-snackbar>
  </v-content>
</template>



<script>
// import SimpleImageInput from "v-simple-image-input";

import previewData from "./PreviewComponent";
import controlConfig from "./ControlConfigComponent";
export default {
  name: "app",
  components: {
    "control-config": controlConfig,
    "preview-data": previewData,
    // SimpleImageInput
  },
  data() {
    return {
      showHelp: true,
      snackbarErrors: false,
      snackbarTextErrors: [],
      textTitleLoader: "Un momento por favor",
      textSubTitleLoader: "Estamos procesando tu solicitud",
      previewData: 0,
      dialogPreview: false,
      loaderComponent: true,

      loaderRegresar: false,
      textTitleRegresar: "¿Desea regresar al menú inicial?",
      textSubTitleRegresar: "No se guardaran los camios actuales",

      steps: [
        {
          target: '[data-v-step="1"]',
          content:
            "Haz clic soblre el boton e ingresa el título de la capacitación",
          params: {
            enableScrolling: false,
          },
        },
        {
          target: '[data-v-step="2"]',
          content:
            "Haz clic sobre el siguiente botón para editar el nombre del tema que vas a explicar",
          params: {
            enableScrolling: false,
          },
        },
        {
          target: '[data-v-step="3"]',
          content:
            "Adjunta una imagen de fondo, esta sera utilizada como nuestro espacio de trabajo",
          params: {
            enableScrolling: false,
          },
        },
        {
          target: '[data-v-step="4"]',
          content:
            "Puedes bloquear el movimiento de los elementos haciendo clic en los siguientes iconos",
          params: {
            enableScrolling: false,
          },
        },
        {
          target: '[data-v-step="5"]',
          content: "Haz clic en el elemento que deseas agregar al tema actual",
          params: {
            enableScrolling: false,
          },
        },
        {
          target: '[data-v-step="6"]',
          content:
            "Haciendo clic en este botón, podrás ver una vista preliminar del trabajo actual",
          params: {
            enableScrolling: false,
          },
        },
        {
          target: '[data-v-step="7"]',
          content:
            "Utiliza este botón para agregar nuevos temas y continuar trabajando",
          params: {
            enableScrolling: false,
          },
        },
        {
          target: '[data-v-step="8"]',
          content:
            "Refresca la pestaña botón (se eliminaran los elementos que se encuentren agregados)",
          params: {
            enableScrolling: false,
          },
        },
        {
          target: '[data-v-step="9"]',
          content:
            "Por último haz clic en guardar para conservar el trabajo actual (se redireccionar al listado de capacitaciones)",
          params: {
            enableScrolling: false,
          },
        },
      ],
      myOptions: {
        highlight: true,
        useKeyboardNavigation: true,

        labels: {
          buttonSkip: "Saltar Explicación",
          buttonPrevious: "Anterior",
          buttonNext: "Siguiente",
          buttonStop: "Finalizar",
        },
      },
      btnAdd: [
        // {
        //   value: "imagen",
        //   texto: "Imagen",
        //   icon: "mdi-image"
        // },
        {
          value: "texto",
          texto: "Parrafo",
          icon: "mdi-format-paragraph",
        },
        {
          value: "campotexto",
          texto: "Campo de texto",
          icon: "mdi-textbox",
        },
        {
          value: "button",
          texto: "Boton",
          icon: "mdi-gesture-tap-button",
        },
        {
          value: "select",
          texto: "Desplegable",
          icon: "mdi-menu-down",
        },
        {
          value: "comentario",
          texto: "Comentario",
          icon: "mdi-comment-text",
        },
      ],

      selectedElement: null,
      selectedControl: {},
      selectedOpen: false,

      keyResizingTab: null,
      keyResizingControl: null,
      tab: 0,
      itemtemas: [
        {
          nombrehoja: "TEMA 1",
          controlForm: [],
          imagen: "",
          uploadImg: null,
          addBg: false,
        },
      ],
      snack: false,
      titulotablero: "TITULO DE CAPACITACIÓN",
      snackText: "",
      snackColor: "",
      width: 150,
      height: 45,
      x: 0,
      y: 0,
    };
  },
  mounted() {
    this.addControl("imagen");
    setTimeout(() => {
      this.loaderComponent = false;
      this.$tours["myTour"].start();
    }, 1000);
  },
  computed: {
    clientWidth() {
      return this.$refs.divcontenedor[0].clientWidth;
    },
  },
  watch: {
    selectedOpen() {
      if (!this.selectedOpen) {
        this.$refs["bgimg" + this.tab][0].style.filter = "";
      }
    },
  },
  methods: {
    starTour() {
      this.tab = 0;
      this.$tours["myTour"].start();
    },
    vistaPrevia() {
      this.dialogPreview = true;
      this.previewData = this.previewData + 1;
    },
    regresarHome() {
      this.loaderRegresar = true;
      // this.$router.push("/home");
    },
    enviarForm() {
      this.loaderComponent = true;
      this.textTitleLoader = "Un momento por favor";
      this.textSubTitleLoader = "Estamos procesando tu solicitud";
      var data_f = new FormData();
      var i = 0;
      this.itemtemas.forEach((element) => {
        Object.keys(element).forEach((key) => {
          if (key != "imagen") {
            if (key == "controlForm") {
              data_f.append(key + "[" + i + "]", JSON.stringify(element[key]));
            } else {
              data_f.append(key + "[" + i + "]", element[key]);
            }
          }
        });

        i++;
      });

      data_f.append("titulotablero", this.titulotablero);
      var urlroute = "/crudCapacitaciones";
      axios({
        url: urlroute,
        method: "POST",
        data: data_f,
        headers: { "Content-Type": "multipart/form-data" },
      })
        .then((response) => {
          console.log(response);

          if (response.data.respuesta.codigo == 202) {
            setTimeout(() => {
              this.textTitleLoader = "Capacitación creada exitosamente";
              this.textSubTitleLoader =
                "Redireccionando a listado de capacitaciones";
              setTimeout(() => {
                this.$router.push("/tablacapacitaciones");
              }, 1200);
            }, 800);
          } else {
            //ERROR

            setTimeout(() => {
              this.textTitleLoader = "¡Error al procesar la información!";
              this.textSubTitleLoader = "Verifique la información enviada";
              setTimeout(() => {
                if (response.data.respuesta.codigo == 404) {
                  this.snackbarTextErrors = [];
                  this.snackbarErrors = true;

                  this.snackbarTextErrors.push(response.data.respuesta.text);
                }

                this.loaderComponent = false;
              }, 800);
            }, 1200);
          }
        })
        .catch((error) => {
          setTimeout(() => {
            this.textTitleLoader = "¡Error al procesar la información!";
            this.textSubTitleLoader = "Verifique la información enviada";
            setTimeout(() => {
              this.snackbarTextErrors = [];
              this.snackbarErrors = true;
              var errores = error.response.data.errors;
              //   console.log(errores);

              for (var key in errores) {
                if (errores.hasOwnProperty(key)) {
                  errores[key].forEach((element) => {
                    this.snackbarTextErrors.push(element);
                  });

                  //   alert(key + " -> " + errores[key]);
                }
              }
              this.loaderComponent = false;
            }, 800);
          }, 1200);
          console.log("error " + error);
        });
    },
    onFocus(indexControl) {
      // console.log(this.$refs[indexControl]);

      // var inputC = "inputFile_" + indexControl + "_" + index;
      this.$refs[indexControl][0].click();
    },

    onFileChange(index, event) {
      if (!this.itemtemas[index].addBg) {
        this.addControl("imagen");
      }

      const file = event.target.files[0];

      if (!file) {
        // this.itemtemas[index].addBg = false;
        this.itemtemas[index].imagen = null;
        this.itemtemas[index].uploadImg = null;
        return false;
      } else {
        var size = Math.round(file.size / 1024);

        if (size > 4096) {
          this.itemtemas[index].imagen = null;
          this.itemtemas[index].uploadImg = null;

          this.snackbarTextErrors = [];
          this.snackbarErrors = true;
          this.snackbarTextErrors.push(
            "La imagen supera el limite de 4Mb, seleccione otra."
          );

          return false;
        }
      }
      if (!file.type.match("image.*")) {
        // this.itemtemas[index].addBg = false;
        this.itemtemas[index].uploadImg = null;
        this.itemtemas[index].imagen = null;

        this.snackbarTextErrors = [];
        this.snackbarErrors = true;
        this.snackbarTextErrors.push(
          "El archivo seleccionado no corresponde a una imagen, el formato valido es JPG o PNG."
        );

        return false;
      }
      const reader = new FileReader();
      const that = this;
      reader.onload = function (e) {
        that.itemtemas[index].imagen = e.target.result;
        that.itemtemas[index].uploadImg = file;
      };
      reader.readAsDataURL(file);
    },

    mostrarEdicion(controlador, nativeEvent) {
      const open = () => {
        this.selectedControl = controlador;
        this.selectedElement = nativeEvent.target;
        setTimeout(
          () => (
            (this.selectedOpen = true),
            (this.$refs["bgimg" + this.tab][0].style.filter =
              "brightness(0.5) blur(1px)")
          ),
          10
        );
      };
      if (this.selectedOpen) {
        this.selectedOpen = false;
        setTimeout(open, 10);
      } else {
        open();
      }
      nativeEvent.stopPropagation();
    },

    addControl(type, tema = 'vue') {
      var minWidth = 100;
      var minHeight = 100;

      var width = 15;
      var height = 11;
      var heightPx = 70;
      var widthPx = this.clientWidth;
      var theme = tema;

      var propiedades = {};

      if (type == "comentario") {
        minWidth = 29;
        minHeight = 29;
        width = 2.2;
        height = 5;
        widthPx = 46;
        propiedades = {
          color: "#FFFFFF",
          fontSize: 16,
          label: "Comentario de prueba.",
          formatTextAlign: "",
          formatText: [],
        };
      } else if (type == "imagen") {
        this.itemtemas[this.tab].addBg = true;
        width = 100;
        height = 100;
        heightPx = 600;
        propiedades = {
          label: "Imagen de fondo.",
        };
      } else if (type == "texto") {
        minWidth = 112;
        minHeight = 27;
        height = 10;
        widthPx = 202;
        propiedades = {
          color: "#414141",
          label: "Ingresar Texto",
          formatText: [],
          formatTextAlign: "text-left",
          fontSize: 16,
        };
      } else if (type == "campotexto") {
        if (tema == "nativo") {
          minHeight = 54;
          minWidth = 100;
        } else {
          minHeight = 70;
          minWidth = 202;
        }

        widthPx = 202;
        propiedades = {
          color: "#414141",
          label: "Campo de Texto",
          rounded: false,
          placeholder: "",
        };
      } else if (type == "button") {
        if (tema == "nativo") {
          minHeight = 20;
        } else {
          minHeight = 30;
        }
        minWidth = 100;
        widthPx = 202;
        heightPx = 50;
        propiedades = {
          label: "Click aquí",
          rounded: false,
          outlined: false,
          color: "#1B506F",
          accion: 1,
        };
      } else if (type == "select") {
        if (tema == "nativo") {
          minHeight = 54;
          minWidth = 100;
        } else {
          minHeight = 70;
          minWidth = 202;
        }

        widthPx = 202;
        propiedades = {
          color: "#414141",
          label: "Seleccionar Una Opción",
          items: [],
          rounded: false,
          placeholder: "",
        };
      }

      this.itemtemas[this.tab].controlForm.push({
        minWidth: minWidth,
        minHeight: minHeight,
        width: width,
        height: height,
        propiedades: propiedades,
        type: type,
        widthPx: widthPx,
        heightPx: heightPx,
        delete: false,
        lock: false,
        theme: theme,
        x: 0,
        y: 0,
      });
    },
    onResize(keyResizingControl, keyResizingTab, x, y, width, height) {
      var itemModificar = this.itemtemas[keyResizingTab].controlForm[
        keyResizingControl
      ];

      // console.log(this.$refs.divcontenedor[0].offsetHeight, height);
      // console.log(this.$refs.divcontenedor[0].offsetHeight, height);

      let wResponsive =
        (width / this.$refs.divcontenedor[this.tab].offsetWidth) * 100;
      let hResponsive =
        (height / this.$refs.divcontenedor[this.tab].offsetHeight) * 100;

      let xResponsive =
        (x / this.$refs.divcontenedor[this.tab].offsetWidth) * 100;
      let yResponsive =
        (y / this.$refs.divcontenedor[this.tab].offsetHeight) * 100;

      itemModificar.width = wResponsive;
      itemModificar.height = hResponsive;
      itemModificar.widthPx = width;
      itemModificar.heightPx = height;

      itemModificar.x = xResponsive;
      itemModificar.y = yResponsive;
    },
    onDrag(keyResizingControl, keyResizingTab, x, y) {
      var itemModificar = this.itemtemas[keyResizingTab].controlForm[
        keyResizingControl
      ];

      let xResponsive =
        (x / this.$refs.divcontenedor[this.tab].offsetWidth) * 100;
      let yResponsive =
        (y / this.$refs.divcontenedor[this.tab].offsetHeight) * 100;

      itemModificar.x = xResponsive;
      itemModificar.y = yResponsive;
    },
    eliminarTema(indexTema) {
      if (this.itemtemas.length > 1) {
        // this.itemtemas = []
        this.itemtemas.splice(indexTema, 1);
        this.tab = 1;
      }
      // console.log(this.itemtemas[indexTema])
    },
    deleteItem(keyResizingControl, keyResizingTab) {
      this.itemtemas[keyResizingTab].controlForm[
        keyResizingControl
      ].delete = true;
    },
    lockItem(keyResizingControl, keyResizingTab) {
      var itemLock = this.itemtemas[keyResizingTab].controlForm[
        keyResizingControl
      ].lock;

      this.itemtemas[keyResizingTab].controlForm[
        keyResizingControl
      ].lock = !itemLock;
    },
    crearHoja() {
      if (this.itemtemas.length < 50) {
        this.itemtemas.push({
          nombrehoja: "TEMA " + (this.itemtemas.length + 1),
          controlForm: [],
          imagen: "",
          uploadImg: null,
          addBg: false,
        });
        this.tab = this.itemtemas.length - 1;

        this.addControl("imagen");
      } else {
        this.snackbarTextErrors = [];
        this.snackbarErrors = true;
        this.snackbarTextErrors.push(
          "Haz alcanzado el limite de temas para la capacitación"
        );
      }
    },
    save() {
      this.snack = true;
      this.snackColor = "success";
      this.snackText = "Data saved";
    },
    cancel() {
      this.snack = true;
      this.snackColor = "error";
      this.snackText = "Canceled";
    },
    open() {
      this.snack = true;
      this.snackColor = "info";
      this.snackText = "Dialog opened";
    },
    close() {
      console.log("Dialog closed");
    },
    procesarClaseTexto(item) {
      var clase;
      clase = item.formatText.join(" ") + " " + item.formatTextAlign;
      return clase;
    },
  },
};
</script>


<style>
.input-nativo {
  border-style: inset !important;
  -webkit-appearance: auto !important;  
  border-radius: 3px;
  padding: 0 5px 0 5px;
  margin: 0em;
  width: 100%;
  border-width: 1px;
  border-color: rgb(100 100 100) !important;
  resize: none;
}
#app {
  display: flex;
  background: #f8fafc;
}

.wrapper {
  flex: 1;
}

.workspace {
  margin: 25px auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
}

* {
  box-sizing: border-box;
}

.tr-transform__content {
  user-select: none;
}

.tr-transform__rotator {
  top: -45px;
  left: calc(50% - 7px);
}

.tr-transform__rotator,
.tr-transform__scale-point {
  background: #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.tr-transform__rotator:hover,
.tr-transform__scale-point:hover {
  background: #f1f5f8;
}

.tr-transform__rotator:active,
.tr-transform__scale-point:active {
  background: #dae1e7;
}

.tr-transform__scale-point--tl {
  top: -7px;
  left: -7px;
}

.tr-transform__scale-point--ml {
  top: calc(50% - 7px);
  left: -7px;
}

.tr-transform__scale-point--tr {
  left: calc(100% - 7px);
  top: -7px;
}

.tr-transform__scale-point--tm {
  left: calc(50% - 7px);
  top: -7px;
}

.tr-transform__scale-point--mr {
  left: calc(100% - 7px);
  top: calc(50% - 7px);
}

.tr-transform__scale-point--bl {
  left: -7px;
  top: calc(100% - 7px);
}

.tr-transform__scale-point--bm {
  left: calc(50% - 7px);
  top: calc(100% - 7px);
}

.tr-transform__scale-point--br {
  left: calc(100% - 7px);
  top: calc(100% - 7px);
}
img.img-responsive {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain !important;
}
.v-step {
  background: #ff5252 !important;
}
.v-step__arrow {
  border-color: #ff5252 !important;
}

.v-step[x-placement^="top"] .v-step__arrow {
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
}

.v-step[x-placement^="bottom"] .v-step__arrow {
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
}

.v-step[x-placement^="right"] .v-step__arrow {
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
}
.v-step[x-placement^="left"] .v-step__arrow {
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
}
.v-tour__target--highlighted {
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.4) !important;
}
.font-weight-bold.grey--text.v-tab.tabActivo {
  color: white !important;
}
</style>
