<template>
  <v-content>
    <v-container fluid fill-height>
      <v-layout align-center justify-center>
        <v-flex xs12 sm8 md8>
          <p class="display-2 font-weight-bold">¡Bienvenido!</p>
          <p class="title">¡Hola de nuevo!,</p>
          <p class="title mb-5">
            Recuerda que puedes ver los simuladores que
            <br />haz creado, o puedes crear uno nuevo
          </p>

          <v-btn
            class="mr-5 font-weight-bold text-capitalize"
            to="/crearnuevo"
            min-width="250"
            color="primary"
          >Crear Nuevo</v-btn>
          <v-btn
            class="font-weight-bold text-capitalize"
            style="border: 2px solid"
            outlined
            to="/tablacapacitaciones"
            min-width="250"
            color="primary"
          >Ver</v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>