<template>
  <v-card tile>
    <v-overlay fixed opacity="1" color="white" :value="loadingPreview">
      <v-card flat min-width="700" color="transparent">
        <v-card-title
          class="display-1 primary--text text-center font-weight-bold"
          style="display: block"
        >Renderizando vista previa...</v-card-title>
        <v-card-text class="text-center">
          <v-icon color="primary" size="150">mdi-desktop-mac-dashboard</v-icon>
        </v-card-text>
        <v-card-text class="text-center">
          <v-progress-circular color="primary" indeterminate size="64"></v-progress-circular>
        </v-card-text>
      </v-card>
    </v-overlay>
    <v-content>
      <v-toolbar tile class="mb-5" flat dark color="primary">
        <v-btn icon dark @click="closeDialog">
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-toolbar-title class="font-weight-bold">VISTA PREVIA DE LA PRESENTACIÓN</v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
      <v-toolbar-title class="display-1 text-center font-weight-regular justify-space-between">
        <span class="font-weight-bold">{{titulo}}</span>
      </v-toolbar-title>
      <v-window v-model="step">
        <v-window-item v-for="(control, index) in hojas" :key="index" :value="index+1">
          <v-card-title class="title font-weight-regular">
            <v-avatar color="primary" class="subheading white--text mr-5" size="30" v-text="step"></v-avatar>
            <span class="font-weight-bold">{{ control.nombrehoja }}</span>
          </v-card-title>

          <v-card-text
            ref="divcontenedor"
            style="position:relative!important; height:600px; width: 1251px; margin:auto"
            class
          >
            <template v-for="(item, keycontrol) in control['controlForm']">
              <template v-if="!item.delete">
                <img
                  :style="{  width:item.widthPx +'px', 
              height: item.heightPx +'px', 
              left: item.x+'%', 
              top: (item.y - 0.5)+'%',
              position:'absolute' }"
                  ref="control"
                  :key="keycontrol"
                  :max-width="item.width"
                  :min-width="item.width"
                  :max-height="item.height"
                  :min-height="item.height"
                  v-if="item.type == 'imagen'"
                  :src="control['imagen']"
                />

                <v-btn
                  @click="accionBoton(item.propiedades.accion)"
                  :key="keycontrol"
                  :style="{  width:item.widthPx +'px',
                height: item.heightPx +'px', 
              left: item.x+'%', 
              top: item.y+'%',
              position:'absolute'}"
                  class="font-weight-bold text-capitalize"
                  dark
                  :rounded="item.propiedades.rounded"
                  :outlined="item.propiedades.outlined"
                  v-if="item.type == 'button' && item.theme == 'vue'"
                  :color="item.propiedades.color"
                  :height="item.heightPx - 3"
                >{{item.propiedades.label}}</v-btn>

                <button
                  @click="accionBoton(item.propiedades.accion)"
                  :key="keycontrol"
                  :style="{  width:item.widthPx +'px',
                height: item.heightPx - 3 +'px', 
              left: item.x+'%', 
              top: item.y+'%',
              position:'absolute','background-color':item.propiedades.color,'color':colorletra}"
                  class="input-nativo font-weight-bold text-capitalize"
                  v-else-if="item.type == 'button' && item.theme == 'nativo'"
                  type="button"
                >{{item.propiedades.label}}</button>

                <div
                  :class="procesarClaseTexto(item.propiedades)"
                  :style="{  width:item.widthPx +'px', 
              height: item.heightPx +'px', 
              left: item.x+'%', 
              top: item.y+'%',
              position:'absolute',
              'font-size': item.propiedades.fontSize+'px',
              'color': item.propiedades.color,
              'line-height': '1.5'}"
                  ref="control"
                  :key="keycontrol"
                  v-if="item.type == 'texto'"
                >{{item.propiedades.label}}</div>

                <v-flex
                  :key="keycontrol"
                  :style="{  width:item.widthPx +'px', 
              height: item.heightPx +'px', 
              left: item.x+'%', 
              top: item.y+'%',
              position:'absolute' }"
                  v-if="item.type == 'campotexto'"
                >
                  <span
                    :style="{'color': item.propiedades.color}"
                    class="font-weight-bold text-capitalize"
                  >{{item.propiedades.label}}</span>
                  <v-text-field
                    v-if="item.theme == 'vue'"
                    class="font-weight-bold text-capitalize"
                    dense
                    :placeholder="item.propiedades.placeholder"
                    :rounded="item.propiedades.rounded == 1"
                    solo
                    outlined
                    :height="item.heightPx - 32"
                  ></v-text-field>
                  <input
                    type="text"
                    :style="'height: '+ (item.heightPx - 32) + 'px;'+'background-color: white;'+'resize: none'"
                    :placeholder="item.propiedades.placeholder"
                    class="input-nativo"
                    v-else
                  />
                </v-flex>
                <v-flex
                  :key="keycontrol"
                  :style="{  width:item.widthPx +'px', 
              height: item.heightPx +'px', 
              left: item.x+'%', 
              top: item.y+'%',
              position:'absolute' }"
                  v-if="item.type == 'select'"
                >
                  <span
                    :style="{'color': item.propiedades.color}"
                    class="font-weight-bold text-capitalize"
                  >{{item.propiedades.label}}</span>
                  <v-select
                    v-if="item.theme == 'vue'"
                    :placeholder="item.propiedades.placeholder"
                    :rounded="item.propiedades.rounded == 1"
                    :items="item.propiedades.items"
                    dense
                    item-text="valor"
                    item-value="valor"
                    outlined
                    solo
                    :height="item.heightPx - 32"
                    :width="item.width"
                  ></v-select>
                  <select
                    :style="'height: '+ (item.heightPx - 32) + 'px;'+'background-color: '+colorletra"
                    v-else
                    :placeholder="item.propiedades.placeholder"
                    class="input-nativo"
                  >
                    <option
                      v-for="(itemselec, iselect) in item.propiedades.items"
                      :key="iselect"
                      :value="itemselec.valor"
                    >{{itemselec.valor}}</option>
                  </select>
                </v-flex>
                <v-flex
                  :key="keycontrol"
                  :style="{  width:item.widthPx +'px', 
              height: item.heightPx +'px', 
              left: item.x+'%', 
              top: item.y+'%',
              position:'absolute' }"
                  v-if="item.type == 'comentario'"
                >
                  <v-btn
                    small
                    icon
                    class="primary font-weight-bold"
                    dark
                    outlined
                    @click="(MouseEvent) => mostrarComentario(item.propiedades, MouseEvent)"
                  >
                    <v-icon small>mdi-help</v-icon>
                  </v-btn>
                </v-flex>
              </template>
            </template>
          </v-card-text>
        </v-window-item>
      </v-window>
    </v-content>

    <v-menu
      flat
      v-model="selectedOpen"
      :close-on-content-click="false"
      :activator="selectedElement"
      offset-x
      offset-y
    >
      <v-card dark max-width="150">
        <v-card-text
          :style="{
            'font-size': selectedComentario.fontSize+'px', 
            'color': selectedComentario.color, 
          padding: 7+'px'}"
          :class="procesarClaseTexto(selectedComentario)"
        >{{selectedComentario.label}}</v-card-text>
      </v-card>
    </v-menu>
  </v-card>
</template>
<script>
export default {
  props: ["hojas", "token", "titulo"],
  inject: ["theme"],

  components: {
    // Create a new component that
    // extends v-skeleton-loader
    VBoilerplate: {
      functional: true,

      render(h, { data, props, children }) {
        return h(
          "v-skeleton-loader",
          {
            ...data,
            props: {
              boilerplate: true,
              elevation: 2,
              ...props,
            },
          },
          children
        );
      },
    },
  },
  data() {
    return {
      colorletra: "#FFFFFF",
      loadingPreview: true,
      step: 1,
      selectedComentario: {
        fontSize: 0,
        label: "",
        formatTextAlign: "",
        formatText: [],
      },
      selectedElement: null,
      selectedOpen: false,
    };
  },

  watch: {
    token: {
      immediate: true,
      handler: function (after, before) {
        this.loadingPreview = true;
        setTimeout(() => {
          this.loadingPreview = false;
        }, 1000);
        this.step = 1;
        this.selectedComentario.fontSize = 0;
        this.selectedComentario.label = "";
        this.selectedComentario.formatTextAlign = "";
        this.selectedComentario.formatText = [];
        this.selectedElement = null;
        this.selectedOpen = false;
      },
      deep: true,
    },
  },

  methods: {
    accionBoton(accion) {
      var totalHojas = this.hojas.length;
      var hojaActual = this.step;

      if (accion == 1) {
        //SIGUIENTE
        if (hojaActual < totalHojas) {
          this.step = this.step + 1;
        }
      } else if (accion == 2) {
        //ANTERIOR
        if (hojaActual > 0) {
          this.step = this.step - 1;
        }
      }
    },

    closeDialog() {
      this.$emit("closeDialog");
    },
    mostrarComentario(dataComentario, nativeEvent) {
      const open = () => {
        this.selectedComentario = dataComentario;
        this.selectedElement = nativeEvent.target;
        setTimeout(
          () => (this.selectedOpen = true),
          // (this.$refs["bgimg" + this.tab][0].style.filter =
          //   "brightness(0.5) blur(1px)")
          10
        );
      };
      if (this.selectedOpen) {
        this.selectedOpen = false;
        setTimeout(open, 10);
      } else {
        open();
      }
      nativeEvent.stopPropagation();
    },
    procesarClaseTexto(item) {
      var clase;
      console.log(item);
      clase = item.formatText.join(" ") + " " + item.formatTextAlign;
      return clase;
    },
  },
};
</script>