<template>
  <v-content>
    <v-container>
      <v-toolbar class="mb-2" color="#fafafa" light flat>
        <v-toolbar-title class="black--text">
          <v-avatar color="primary" class="mr-5">
            <v-icon dark>mdi-table-of-contents</v-icon>
          </v-avatar>Capacitaciones Creadas
        </v-toolbar-title>
      </v-toolbar>
      <v-divider color="#0054a5" style="border: 1px dashed #fafafa"></v-divider>
      <v-breadcrumbs :items="url_pagina" divider=">"></v-breadcrumbs>

      <v-stepper>
        <v-toolbar color light flat>
          <v-toolbar-title
            class="font-weight-bold black--text text-capitalize"
          >Listado de capacitaciones</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-subheader style="height:auto"></v-subheader>
        <v-stepper-items>
          <v-stepper-content step="1">
            <v-card class elevation="0">
              <v-toolbar flat>
                <v-spacer></v-spacer>
                <v-spacer></v-spacer>
                <v-text-field
                  solo
                  outlined
                  dense
                  flat
                  v-model="searchTable"
                  prepend-inner-icon="mdi-database-search"
                  label="Buscar"
                  single-line
                  hide-details
                ></v-text-field>
              </v-toolbar>

              <v-data-table
                loading-text="Consultando información..."
                no-data-text="No se han encontrado resultados"
                :headers="headers"
                :items="itemsCapacitaciones"
                :page.sync="page"
                :options.sync="options"
                :items-per-page="itemsPerPage"
                :server-items-length="totalData"
                :loading="loadingtable"
                hide-default-footer
                class="elevation-0"
                @page-count="pageCount = $event"
              >
                <template v-slot:item.action="{ item }">
                  <!-- <v-tooltip left>
                    <template v-slot:activator="{ on }">
                      <v-btn
                        v-on="on"
                        icon
                        @click="copiarTexto(item.id)"
                        class="primary mr-3"
                        small
                        dark
                      >
                        <v-icon small>mdi-content-copy</v-icon>
                      </v-btn>
                    </template>
                    <span>Copiar enlace en portapapeles</span>
                  </v-tooltip>-->

                  <v-btn
                    class="text-capitalize"
                    :to="'/editar-capacitacion/'+item.id"
                    
                    color="primary"
                    small
                    
                  >
                    <v-icon small left>mdi-pencil</v-icon>Editar
                  </v-btn>
                  <v-btn
                    class="text-capitalize"
                    :to="'/view/'+item.id"
                    target="_blank"
                    color="primary"
                    small
                    outlined
                  >
                    <v-icon small left>mdi-open-in-new</v-icon>Ver capacitación
                  </v-btn>
                </template>
              </v-data-table>
              <div class="text-center pt-2">
                <v-pagination v-model="page" :length="pageCount"></v-pagination>
              </div>
            </v-card>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
      <v-snackbar right top color="primary" v-model="snackbarMensaje">
        <v-alert
          class="pa-0 mb-0"
          color="primary"
          dark
          icon="mdi-content-copy"
          prominent
        >{{snackbarText}}</v-alert>
      </v-snackbar>
    </v-container>
  </v-content>
</template>


<script>
export default {
  data() {
    return {
      snackbarMensaje: false,
      snackbarText: "",
      searchTable: "",
      url_pagina: [
        {
          text: "Inicio",
          to: "/home"
        },
        {
          text: "Listado De Capacitaciones",
          to: "/tablacapacitaciones"
          //   to: 'inicio',
        }
      ],
      itemsCapacitaciones: [],
      headers: [
        {
          text: "TITULO PRINCIPAL",
          align: "left",
          sortable: false,
          value: "nombre"
        },
        {
          text: "TEMAS",
          align: "center",
          sortable: false,
          value: "hojas_count"
        },
        { text: "FECHA DE CREACIÓN", sortable: false, value: "created_at" },
        {
          text: "FECHA DE ACTUALIZACIÓN",
          sortable: false,
          value: "updated_at"
        },

        { text: "", align: "center", value: "action", sortable: false }
      ],
      page: 1,
      options: {},
      loadingtable: false,
      pageCount: 0,
      itemsPerPage: 10,
      totalData: 0
    };
  },
  watch: {
    searchTable() {
      this.mostrarListadoCapacitaciones();
    },
    options() {
      this.loadingtable = true;
      this.mostrarListadoCapacitaciones();
    }
  },
  mounted() {
    this.mostrarListadoCapacitaciones();
  },
  methods: {
    copiarTexto(id) {
      var host = window.location.hostname;
      var port = location.port;
      var url;

      if (port != "") {
        url = host + ":" + port + "/view/" + id;
      } else {
        url = host + "/view/" + id;
      }

      navigator.clipboard
        .writeText(url)
        .then(() => {
          this.snackbarMensaje = true;
          this.snackbarText = "Enlace de capacitación copiado.";
        })
        .catch(error => {
          // Por si el usuario no da permiso u ocurre un error
          this.snackbarMensaje = false;
          this.snackbarText = "Hubo un error copiando el enlace: " + error;
        });
    },
    mostrarListadoCapacitaciones() {
      this.loadingtable = true;
      axios
        .get(
          "/crudCapacitaciones?page=" +
            this.options.page +
            "&rowsPerPage=" +
            this.options.itemsPerPage +
            "&search=" +
            this.searchTable
        )
        .then(res => {
          this.loadingtable = false;
          this.totalData = res.data.total_registros;
          this.itemsCapacitaciones = res.data.data_registros;
        })
        .catch(err => {
          this.loadingtable = false;
          console.error(err);
        });
    }
  }
};
</script>