<template>
  <v-content style="background: #fff">
    <v-container fluid fill-height>
      <v-layout align-center justify-center>
        <v-flex xs12 sm12 md12 style="height:100%">
          <v-card class="pt-3 mx-auto" flat color="transparent">
            <!-- <v-toolbar-title
              class="display-1 text-center font-weight-regular justify-space-between"
            >
              <span>{{capacitacion.nombre}}</span>
            </v-toolbar-title>-->
            <v-window v-model="step">
              <v-window-item
                v-for="(hoja, indexHoja) in capacitacion.hojas"
                :key="indexHoja"
                :value="indexHoja + 1"
              >
                <v-card-title class="title font-weight-regular">
                  <v-avatar
                    color="primary"
                    class="subheading white--text mr-5"
                    size="30"
                    v-text="step"
                  ></v-avatar>
                  <span>{{ hoja.nombre }}</span>
                </v-card-title>

                <v-card-text
                  style="position:relative!important; height:600px; width: 1251px; margin:auto"
                >
                  <template v-for="(item, keycontrol) in hoja['elementos']">
                    <img
                      :style="{   width:item.widthPx +'px', 
                                  height: item.heightPx +'px', 
                                  left: item.x+'%', 
                                  top: (item.y - 0.5)+'%', 
                                  position:'absolute'}"
                      ref="control"
                      :key="keycontrol"
                      :max-width="item.width"
                      :min-width="item.width"
                      :max-height="item.height"
                      :min-height="item.height"
                      v-if="item.type == 'imagen'"
                      :src="'/storage/upload_files/bgfondos/'+hoja['imagen_url']"
                    />

                    <v-btn
                      v-if="item.type == 'button' && item.theme == 'vue'"
                      @click="accionBoton(item.accion)"
                      :key="keycontrol"
                      :style="{  width:item.widthPx +'px',
                height: item.heightPx +'px', 
              left: item.x+'%', 
              top: item.y+'%',
              position:'absolute'}"
                      class="font-weight-bold text-capitalize"
                      dark
                      :rounded="item.rounded == 1"
                      :outlined="item.outlined == 1"
                      :color="item.color"
                      :height="item.heightPx - 3"
                    >{{item.label}}</v-btn>

                    <button
                      @click="accionBoton(item.accion)"
                      :key="keycontrol"
                      :style="{  width:item.widthPx +'px',
                      height: item.heightPx - 3 +'px', 
                      left: item.x+'%', 
                      top: item.y+'%',
                      position:'absolute','background-color':item.color,'color':color}"
                      class="input-nativo font-weight-bold text-capitalize"
                      v-else-if="item.type == 'button' && item.theme == 'nativo'"
                      type="button"
                    >{{item.label}}</button>

                    <div
                      :class="item.formattext + ' ' + item.formattextalign"
                      :style="{  width:item.widthPx +'px', 
                                height: item.heightPx +'px', 
                                left: item.x+'%', 
                                top: item.y+'%',
                                position:'absolute',
                                'font-size': item.fontsize+'px',
                                'color': item.color,
                                'line-height': '1.5'}"
                      ref="control"
                      :key="keycontrol"
                      v-if="item.type == 'texto'"
                    >{{item.label}}</div>

                    <v-flex
                      :key="keycontrol"
                      :style="{  width:item.widthPx +'px', 
              height: item.heightPx +'px', 
              left: item.x+'%', 
              top: item.y+'%',
              position:'absolute' }"
                      v-if="item.type == 'campotexto' "
                    >
                      <span
                        :style="{'color': item.color}"
                        class="font-weight-bold text-capitalize"
                      >{{item.label}}</span>
                      <v-text-field
                        v-if="item.theme == 'vue'"
                        class="font-weight-bold text-capitalize"
                        dense
                        :placeholder="item.placeholder"
                        :rounded="item.rounded == 1"
                        solo
                        outlined
                        :height="item.heightPx - 32"
                      ></v-text-field>
                      <input
                        type="text"
                        :style="'height: '+ (item.heightPx - 32) + 'px;'+'background-color: white; resize: none;'"
                        :placeholder="item.placeholder"
                        class="input-nativo"
                        v-else
                      />
                    </v-flex>
                    <v-flex
                      :key="keycontrol"
                      :style="{  width:item.widthPx +'px', 
              height: item.heightPx +'px', 
              left: item.x+'%', 
              top: item.y+'%',
              position:'absolute' }"
                      v-if="item.type == 'select'"
                    >
                      <span
                        :style="{'color': item.color}"
                        class="font-weight-bold text-capitalize"
                      >{{item.label}}</span>
                      <v-select
                        v-if="item.theme == 'vue'"
                        :placeholder="item.placeholder"
                        :rounded="item.rounded == 1"
                        :items="item.items_select"
                        dense
                        item-text="nombre"
                        item-value="nombre"
                        outlined
                        solo
                        :height="item.heightPx - 32"
                      ></v-select>
                      <select
                        :style="'height: '+ (item.heightPx - 32) + 'px;'+'background-color: '+color"
                        v-else
                        :placeholder="item.placeholder"
                        class="input-nativo"
                      >
                        <option
                          v-for="(itemselec, iselect) in item.items_select"
                          :key="iselect"
                          :value="itemselec.nombre"
                        >{{itemselec.nombre}}</option>
                      </select>
                    </v-flex>
                    <v-flex
                      :key="keycontrol"
                      :style="{  width:item.widthPx +'px', 
              height: item.heightPx +'px', 
              left: item.x+'%', 
              top: item.y+'%',
              position:'absolute' }"
                      v-if="item.type == 'comentario'"
                    >
                      <v-btn
                        small
                        icon
                        class="primary font-weight-bold"
                        dark
                        outlined
                        @click="(MouseEvent) => mostrarComentario(item, MouseEvent)"
                      >
                        <v-icon small>mdi-help</v-icon>
                      </v-btn>
                    </v-flex>
                  </template>
                </v-card-text>
              </v-window-item>
            </v-window>

            <v-card-actions class="text-center">
              <v-spacer></v-spacer>
              <v-btn
                :disabled="capacitacion.hojas.length != step"
                color="primary"
                depressed
                @click="closeW"
              >Finalizar Presentación</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>

      <v-menu
        flat
        v-model="selectedOpen"
        :close-on-content-click="false"
        :activator="selectedElement"
        offset-x
        offset-y
      >
        <v-card dark max-width="150">
          <v-card-text
            :style="{'font-size': selectedComentario.fontSize+'px', 'color': selectedComentario.color ,padding: 7+'px'}"
            :class="selectedComentario.formattext + ' ' + selectedComentario.formattextalign"
          >{{selectedComentario.label}}</v-card-text>
        </v-card>
      </v-menu>
    </v-container>
  </v-content>
</template>
<script>
export default {
  data() {
    return {
      color: "#FFFFFF",
      selectedComentario: {
        fontSize: 0,
        label: "",
        formatTextAlign: "",
        formatText: [],
      },
      selectedElement: null,
      selectedOpen: false,
      capacitacion_id: 0,
      step: 1,
      capacitacion: {
        hojas: [],
      },
    };
  },
  computed: {
    currentTitle() {
      switch (this.step) {
        case 1:
          return "Sign-up";
        case 2:
          return "Create a password";
        default:
          return "Account created";
      }
    },
  },
  created() {
    this.capacitacion_id = this.$route.params.capacitacion_id;
    this.consultarCapacitacion();
  },
  methods: {
    accionBoton(accion) {
      var totalHojas = this.capacitacion.hojas.length;
      var hojaActual = this.step;

      if (accion == 1) {
        //SIGUIENTE
        if (hojaActual < totalHojas) {
          this.step = this.step + 1;
        }
      } else if (accion == 2) {
        //ANTERIOR
        if (hojaActual > 0) {
          this.step = this.step - 1;
        }
      }
    },
    closeW() {
      window.close();
    },
    consultarCapacitacion() {
      axios
        .get("/crudCapacitaciones/" + this.capacitacion_id)
        .then((res) => {
          this.capacitacion = res.data;
        })
        .catch((err) => {
          console.error(err);
        });
    },
    mostrarComentario(dataComentario, nativeEvent) {
      const open = () => {
        this.selectedComentario = dataComentario;
        this.selectedElement = nativeEvent.target;
        setTimeout(
          () => (this.selectedOpen = true),
          // (this.$refs["bgimg" + this.tab][0].style.filter =
          //   "brightness(0.5) blur(1px)")
          10
        );
      };
      if (this.selectedOpen) {
        this.selectedOpen = false;
        setTimeout(open, 10);
      } else {
        open();
      }
      nativeEvent.stopPropagation();
    },
    procesarClaseTexto(item) {
      console.log(item);

      var clase;
      console.log(item);
      clase = item.formatText.join(" ") + " " + item.formatTextAlign;
      return clase;
    },
  },
};
</script>


<style>
.input-nativo {
  border-style: inset !important;
  -webkit-appearance: auto !important;
  border-radius: 3px;
  padding: 0 5px 0 5px;
  margin: 0em;
  width: 100%;
  border-width: 1px;
  border-color: rgb(100 100 100) !important;
  resize: none;
}
</style>